.header{
    padding:2rem;
    text-align: center;
    /* background: url(../images/header-bg.jpg) no-repeat top; */
    background-size: cover;
    padding-bottom: 8rem;
    position: relative;
}
.header::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: #b66c2b6e; */
    z-index: 1;
}
.header .main-title{
    color: var(--s-color);
    font-size: 3rem;
    position: relative;
    z-index: 99;
}

@media(max-width:767px){
    .header{
        padding-bottom: 7rem;
    }
    .header .main-title{
        font-size: 2rem;
    }

}

.header .dark-switch{
    position: absolute;
    top:10px;
    right: 30px;
    z-index: 99;
    font-size: 14px;
    line-height: 20px;
    width: 60px;
    height: 30px;
    border: 2px solid var(--l-color);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    cursor: pointer;
}

.header .dark-switch span{
   width:25px;
   height: 25px;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   display: inline-block;
   transform:translateX(10px) ;
   -webkit-transform:translateX(10px) ;
   -moz-transform:translateX(10px) ;
   -ms-transform:translateX(10px) ;
   -o-transform:translateX(10px) ;
   transition: all .5s;
   -webkit-transition: all .5s;
   -moz-transition: all .5s;
   -ms-transition: all .5s;
   -o-transition: all .5s;
}
.header .dark-switch .dark-switch-move{
    transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
}

/* start calender */

.calender{
    background-color: var(--l-color);
    padding: 2rem 1rem;
    margin-bottom: 1rem;
}

.time{
    color: var(--s-color);
    font-weight: 600;
    font-size: 2rem ;
    
}

#times{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 1rem .5rem ;
    align-items: flex-start;
}

#times li{
    
    background-color: var(--s-color);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    color: var(--l-color);
    /* width: calc(50% / 6);
    max-width: calc(98% / 6); */
    text-align: center;
    
}
#times li .pr-name{
    background-color: var(--m-color);
    color: var(--s-color);
padding: .25rem .5rem;
}

#times li .pr-time{
    border-bottom: 1px solid var(--l-color);
}

/* start main  */

.main{
    margin: auto;
    width: 700px; 
    /* border: 2px solid; */
    max-width: 90%;
    text-align: center;
    
}
.main-container{
    position: relative;
    transform: translateY(-80px);
    -webkit-transform: translateY(-80px);
    -moz-transform: translateY(-80px);
    -ms-transform: translateY(-80px);
    -o-transform: translateY(-80px);
    
    z-index: 99;
}


/* satart surah */

.surahs{
    padding: 2rem 1rem;
    font-size: 1.3rem;
    max-height: 100%;
    overflow-y: auto;
    counter-reset: count;
    background-color: var(--m-color);
    border: 2px solid var(--s-color);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.surah {
    width: calc(100% - 60px);
    margin-right: auto;
    margin-bottom: 1rem;
   
    
}
.surah .surah-header{
    display: flex;
    justify-content: space-around;
    background-color: var(--l-color);
    padding: 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
     position: relative;
     border: 1px solid var(--m-color);
   
}


.surah .surah-header::before{
    counter-increment: count;
    content: counter(count);
    position: absolute;
    width: 60px;
    height: 60px;
    line-height: 60px;
    top: 50%;
    right:-70px ;
    background-color: var(--l-color);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: var(--s-color);
    border: 1px solid var(--l-color);
    
}
.surah .surah-header::after{
    content: '';
    border: 5px solid;
    border-color: transparent transparent var(--s-color) transparent;
    transform:translateY(-50%) rotate(90deg) ;
    -webkit-transform:translateY(-50%) rotate(90deg) ;
    -moz-transform:translateY(-50%) rotate(90deg) ;
    -ms-transform:translateY(-50%) rotate(90deg) ;
    -o-transform:translateY(-50%) rotate(90deg) ;
    position: absolute;
    top: 50%;
    left: 100%;
}
.surah .surah-footer{
    display: flex;
    justify-content: space-around;
    background-color: var(--s-color);
    color: var(--l-color);
    /*padding: 1rem;
    */border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 0;
    overflow: hidden;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
   
}

.surah:hover .surah-footer{
    height: fit-content;
    padding: 1rem;
    border: 1px solid var(--m-color);
}
.surah .surah-footer div{
    transition: all .5s;
    padding:.5rem 1.5rem ;
    line-height: 1;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}
.surah-footer a{
    color: var(--l-color);
    text-decoration: none;
}
.surah .surah-footer div:hover{
    background-color: var(--m-color);
    color: var(--s-color);
}
.surah .surah-footer div:hover a{
   
    color: var(--s-color);
}

footer{
    font-size: 1.7rem;
    background-color: var(--m-color);
    color: var(--d-color);
    padding: 1rem;
    text-align: center;
}

footer a{
    color: var(--s-color);
    font-size: 2rem;
    display: inline-block;
    height: 30px;
    line-height: 30px;
}

.settings .readers{
    background-color: var(--s-color);
    color: var(--m-color);
}
.settings .readers #reader-search{
    width: 80%;
    padding: .5rem;
    border: none;
    outline: none;
    background-color: var(--m-color);
    font-size: 1rem;
    color: var(--s-color);
}
#reader-search::placeholder{
    color: var(--s-color);
}
.settings .readers ul{
    font-size: 1rem;
    max-height: 250px;
    background-color: var(--m-color);
    color: var(--s-color);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    /* display: table; */
}

.settings .readers ul li{
    border: 1px solid var(--l-color);
    padding: 2px;
    cursor: pointer;
    /* display: none; */
}
.settings .readers ul li:last-child{
  background-color: red;
  
}

.settings .readers ul li:hover{
    background-color: var(--s-color);
    color: var(--m-color);
}

#reader-name-holder{
    font-size: 1.5rem;
    margin: .5rem auto -.5rem;
    color: var(--l-color);
}
