:root{
    font-size: 16px;
    --m-color:#012b2a;
    --s-color:#027774;
    --l-color:#d5e1ef;
    --d-color:#262f38;
}
@media(max-width:560px){
    :root{
        font-size: 14px;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Amiri Quran', serif;
    background: linear-gradient(to bottom , var(--m-color) 50%, var(--s-color)) no-repeat ;
    background-size: cover;
    min-height: 100vh;

}
::selection{
    background-color: #02777384;
}
.quran-player{
    background-color: var(--s-color);
    padding: 1rem;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    font-size: 3rem;
    position: sticky;
    top: 50px;
    z-index: 9999;
    box-shadow: 0 0 100px #012b2a91;
}
.audio{
    position: relative;
}
.audio::before{
    content: '';
    width: 20px;
    height: 20px;
    background-color: #f1f3f4;
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 99;
}
 .audio audio{
    width: 100%;
}

 .audio-controls{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: -30px;
    color: var(--l-color);
    flex: 1;
}
 .audio-controls div{
    cursor: pointer;
}

.controls-container{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    color: var(--l-color);
}


.loader{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.628);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader .loader-spin{
    width: 100px;
    height: 100px;
    border: 8px solid ;
    border-color: var(--m-color) var(--m-color) var(--m-color) transparent;
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
    animation: spin 1s  ease-in infinite;
    -webkit-animation: spin 1s  ease-in infinite;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
}
to{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
}